# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
.venv/
venv/
env/
.env.local
.env.prod

# Node
node_modules/
dist/
build/
.vite/

# Docker
*.log

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Data
postgres_data/
redis_data/
minio_data/
letsencrypt_data/
